APP_NAME=basic-go-microservice
LOG_LEVEL=debug
HTTP_HOST=localhost
HTTP_PORT=8080
HTTP_SCHEMES=http
GRPC_NETWORK_TYPE=tcp
GRPC_HOST=localhost
GRPC_PORT=8081
MONGO_DSN=mongodb://127.0.0.1:27017
MONGO_DB=item
MONGO_DSN_RO=mongodb://127.0.0.1:27017
MONGO_DB_RO=item
MYSQL_DSN=root@(localhost:3306)/
MYSQL_DSN_RO=root@(localhost:3306)/
POSTGRES_DSN=postgres://root@localhost:5432/?sslmode=disable
POSTGRES_DSN_RO=postgres://root@localhost:5432/?sslmode=disable
KAFKA_VERSION=1.0.0
KAFKA_USER=test
KAFKA_PASSWORD=password
KAFKA_BROKERS=conn.kafka.dev.local:31391,conn.kafka.dev.local:31392,conn.kafka.dev.local:31393
KAFKA_TOPIC_UPDATING=gt.updating
KAFKA_TOPIC_DELETING=gt.deleting
KAFKA_CONSUMER_GROUP=basic-go-microservice-local-1
KAFKA_TOPIC_PRODUCING=gt.producing
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
CLICKHOUSE_DSN=clickhouse://localhost:9000/default
CLICKHOUSE_DSN_RO=clickhouse://localhost:9000/default
OTLP_TRACE_ENDPOINT=10.241.177.59:30806
OTLP_TRACE_TLS=0
TRACE_SAMPLE_RATIO=1.0
WITH_TRACE=true