APP_NAME=booker
LOG_LEVEL=debug

WITH_TRACE=true
TRACE_SAMPLE_RATIO=1.0
OTLP_TRACE_ENDPOINT=10.241.177.59:30806
OTLP_TRACE_TLS=0
TRACE_DB=false

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=booker
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_SSL=disable
POSTGRES_DEBUG=true

